.sidebar {
  max-width: 244px;
  background: white;
  box-shadow: 
  0px 2px 10px 0px rgba(0,0,0, 0.1),
  0px 2px 5px 0px rgba(0,0,0,0.3);
  margin-block: 30px;
}

.sidebar li {
  padding: 16px 20px;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar li span {
  margin-inline: 20px;
}

.sidebar li:hover {
  color: #fB0014;
  transition: 250ms ease;
}

.sidebar li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
}

.sidebar a {
  text-decoration: none;
}

.category.active {
  color: #fB0014;
}

.category.active::before {
  background: #fB0014;
}
